/* src/styles/fonts.css */
@font-face {
  font-family: "Arimo";
  src:
    url("/fonts/Arimo-VariableFont_wght.ttf") format("truetype");
  font-weight: 400, 500, 600, 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arimo Italic";
  src:
    url("/fonts/Arimo-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 400, 500, 600, 700;
  font-style: italic;
  font-display: swap;
}
