.portrait-team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  overflow: hidden;
}

.portrait-team-container img {
    width: 36px;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    object-position: center top;
}